.card {
  background-color: rgb(236, 236, 238);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  height: 420px;              
  width: 100px;               
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: contain;     /*  image પૂરી દેખાશે */
  /* background-color: #e4dddd;  empty space black */
  border-radius: 10px;
}

/* CONTENT */
.card-content {
  flex-grow: 1;
  margin-top: 12px;
  overflow: hidden;
}

.card-content h1 {
  font-size: 20px;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 14px;
  opacity: 0.8;

  display: -webkit-box;
  
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* BUTTONS BOTTOM */
.btn-box {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 12px;
}

.btn-edit {
  padding: 6px 12px;
  background-color: rgb(48, 121, 199);
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete {
  padding: 6px 12px;
  background-color: rgb(206, 48, 48);
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
