.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); 
    display: flex;
    align-items: center;  
    justify-content: center; 
    z-index: 1000;
}

.modal {
    background: rgb(149, 183, 228);
    padding: 30px 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}

.modal h2 {
    margin-bottom: 10px;
}

.modal p {
    color:black;
    margin-bottom: 20px;
}

.modal-action {
    display: flex;
    justify-content: center; 
    gap: 14px;
}

.btn-cancle {
    background: rgb(4, 3, 17);
    padding: 8px 18px;
    border-radius: 6px;
}

.btn-delete {
    background: palevioletred;
    color: beige;
    padding: 8px 18px;
    border-radius: 6px;
}
